body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.5px;
  scroll-behavior: smooth;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 13px;
}

h2.featured {
  font-size: 16px;
  font-weight: 900;
  line-height: 140.62%;
  text-align: center;
  color: #552d1e;
  margin-bottom: 5rem;
}

* button {
  outline: none !important;
}
